<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link href="./static/assets/favicon.jpeg" rel="apple-touch-icon">
  <link href="./static/assets/favicon.jpg" rel="icon">



  <title>My Portfolio</title>  

<link href="./static/main.82cfd66e.css" rel="stylesheet"></head>

<body>

 <!-- Add your content of header -->
<header class="">
  <div class="navbar navbar-default visible-xs">
    <button type="button" class="navbar-toggle collapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="./templates/index.html" class="navbar-brand">Mashup Template</a>
  </div>

  <nav class="sidebar">
    <div class="navbar-collapse" id="navbar-collapse">
      <div class="site-header hidden-xs">
          <a class="site-brand" href="index.html" title="">
            <img class="img-responsive site-logo" alt="" src="./static/assets/gulmarg/gulmarghead.jpeg">
            Travel Blog
          </a>
        <p>Most of the people love travelling when they feel stressed or get bored. India has best places to visit like goa, manali, allepeyy....etc etc. Here i gatherd some of my favorite places to built a cool  example portfolio</p>
      </div>
      <ul class="nav">
        <li><a href="./index.html" title=""><h3>Home</h3></a></li>
        <li><a href="./contact.html" title=""><h3>Contact</h3></a></li>

      </ul>

      <!--<nav class="nav-footer">
        <p class="nav-footer-social-buttons">
          <a class="fa-icon" href="https://www.instagram.com/" title="">
            <i class="fa fa-instagram"></i>
          </a>
          <a class="fa-icon" href="https://dribbble.com/" title="">
            <i class="fa fa-dribbble"></i>
          </a>
          <a class="fa-icon" href="https://twitter.com/" title="">
            <i class="fa fa-twitter"></i>
          </a>
        </p>
        <p>© Untitled | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </nav> --> 
    </div> 
  </nav>
</header>
<main class="" id="main-collapse">


<div class="row">
  <div class="col-xs-12 col-md-8">

    <div class="section-container-spacer">
        <h1>Durung Waterfalls</h1>
    </div>

    <div class="section-container-spacer">
      <p><img class="img-responsive" alt="" src="./static/assets/gulmarg/durungwaterfalls.jpeg">
        Among the most well-known tourist places in Gulmarg in its Tangmarg tehsil, the Durung Waterfall presents a picture of majestic beauty amid lofty mountains of India’s northernmost terrains. The water of the fall freezes completely during the winter months when the temperature dips to sub- zero degrees here. The sight of the Durung Waterfall in its frozen form is one that cannot be missed and makes it a complete must visit in this area.
      </p>
      <div class="row">
          <div class="col-xs-12 col-md-6">
            <h3>Tangmarg</h3>
              <p><img class="img-responsive" alt="" src="./static/assets/gulmarg/tangmarg.jpeg">
                it. Also known as the gateway to Gulmarg, Tangmarg features exuberant rolling hills, snow-capped peaks, dense jungles and crystal clear springs. Tanmarg sits on the lower slope of the Pir Panjal Range at a distance of about 13 km from Gulmarg and about 39 km from Srinagar. There is also a trek of 5km from here to Gulmarg which you can undertake if you wish to delve deeper into the fascinating appeal of the place. 
              </p>
          </div>
          <div class="col-xs-12 col-md-6">
            <h3>GSulmarg Gondola</h3>
              <p><img class="img-responsive" alt="" src="./static/assets/gulmarg/gulmarg gondola.jpeg">
                The prime attraction in Gulmarg is its Gondola cable car ride, the second highest and second longest of its kind on earth. It is an absolutely enthralling experience and one that cannot be given a miss when you plan your travel itinerary. Divided in two phases, the ride will ferry you from Gulmarg Resort to Kongdoori Station which is the central point, in the first phase and from Kongdoori Mountain to Apharwat Peak in the second phase.
              </p>
          </div>
      </div>
    </div>
  </div>
  
</div>
    


</main>

<script>
document.addEventListener("DOMContentLoaded", function (event) {
  navbarToggleSidebar();
  navActivePage();
});
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.85741bff.js"></script></body>

</html>